/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}



.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements{
  padding:0px;
  
  height: fit-content;
  align-items: center;
  width:100%;

}
.hebergements-cards{
  display:flex;
  flex-direction: row;
  gap:30px;
  margin-top:20px;
}
.card{
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width:250px;
}
.populaire>.card{
  height: fit-content;
}
.card>img{
  height: 110px;
  overflow: hidden;
  width:250px;
  border-top-left-radius:15px;
  border-top-right-radius: 15px;
}
.card-content{
  margin-left: 5px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activite{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.card-activite>img{
  max-width:290px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.card-activite{
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  max-width: 298px;
  height: 380px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 369px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*css pour la page desktop */
header {

    padding: 10px; /* ajout de marge intérieure */
    color: #000000; /* couleur du texte */
    width: 1440px;
    height: 79px;
}
main{
    margin-top: 30px;
}

nav {
    display: flex; /* utilise flexbox pour aligner les éléments */
    justify-content: space-between ; /* aligne les éléments à l'extrémité de chaque côté */
    align-items: center; /* centre verticalement les éléments */
    width: 100%;
    height: 35px;
    padding: auto;   
}

.logo {
    width: 61px; /* ajustez la taille de votre logo selon vos besoins */
    height: 19px;
}

nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    font-size: 16px;
    display: flex;
}

nav ul li {
    display: inline; /* affiche les éléments de la liste en ligne */
    margin-left: 20px; /* ajout d'un espacement entre les éléments */
}

nav ul li:first-child {
    margin-left: 0; /* annule la marge gauche du premier élément */
}

nav ul li a {
    color: #0d0d0d; /* couleur du texte */
    text-decoration: none; /* supprime les soulignements des liens */
}
.bouton-nav{
    left: 1096px;
    display: flex;
}

.conteneur-1{
    display: flex;
    flex-direction:column ;
    gap: 25px; 
}
.headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#Pheadline{
    margin-top: 0%;
    font-size: 16px;
    margin-bottom: 0px;
}
.GrandtitreH1 {
 margin: 0px;;
width: 100%;
font-size: 22px;
}
form {
    display: flex;
    align-items: center;  /* Aligne les éléments verticalement au centre */
    width: 377px;
    height: 49px;
}

form img {
    background-color:#F2F2F2;
    padding: 15px; /* Ajout de remplissage pour un meilleur aspect */
    margin-right:-10px;
    height:auto;
    border-radius:10px 00px 00px 10px;
}

form label {        
    margin-right: 10px; /* Espacement entre l'image et le champ de saisie */
}

form input[type="text"]{
    height: 49px;
    width: 350px;
    margin: 0; 
    border:solid #F2F2F2;
}
form input[type="submit"] {
  margin:0;
  height: 49px;
  width:100px;
  border-top-right-radius: 15px;
  border-bottom-right-radius:15px;
}
#boutonsearch{
 border-radius: 0px, 15px, 15px, 0px;  
 background-color: #0065FC;
 color:#FFF;
 border: none;
 font-size: 15px;
}
.filtrebars{
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 49
}
/*bouton icone */
.bouton-Filtres {
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    background-color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-right: 5px; /* Ajoute un espacement entre l'image et le texte */
    gap: 15px;
    font-size: 17px;
    font-weight: 700;
}

.bouton-Filtres:hover {
    background-color: #DEEBFF; /* Change la couleur de fond au survol */
}

/* fin bouton icone */

#Filtres{
    font-size: 18px;
}

.infobar{
    display: flex;
    flex-direction:row ;
    gap: 10px;
    margin-bottom: 35px;
    align-items: center;
}
.card-subtitle {
    font-size: 16px;
    font-weight: 400px;
}

.card-activite-container {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 439px;
    border-radius: 20px;
    text-align:center;
    font-size: 16px;
}

.card-activite > img {
    height: 380px;
    object-fit: cover;
}

.card-content-activite {
    height: 60px;
    align-items: center;
}

#Afficherplus {
    font-weight: 700;
}

#Activité-a-Marseille {
    margin-left: 55px;
    font-size: 22px;
}

    footer{
        background-color:#F2F2F2;
        display: flex;
        flex-direction: row;
        gap:20px;
        padding:20px;
        margin-top:100px;
    }
    .footer-apropos, .footer-hebergement, .footer-Assistance{
      width:450px;
      display: flex;
      flex-direction: column;
      padding:20px;
      line-height: 35px;
    }
    



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media only screen and (min-width: 768px){
    nav ul li:hover a {
        border-top: 3px #0065FC solid;
        color:#0065FC ;
        padding-top: 14px;
        margin: 0px;
    }
}

@media (max-width: 1024px) {
   
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        display: flexbox;
        min-width:900px;
        width: 924px;
        height: 612px;
     }
     card img {
        height: 124px;
        width: 268px;        
        overflow: hidden;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .populaires {
        width: 924px;
        height: 252px;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap:220px;
    }
    .card{
        width: 268px;
        height: 207px;
    }
    .populaires-cards a {
        width:100;
    }
    .populaires-cards .card {
        width: 273px;
        height: 146px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    nav ul li:hover a {
        border-bottom: 3px #0065FC solid;
        color:#0065FC ;
    }
}
